html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    style
        include main.css 
  body
    // вариант когда не шлем письмо а показываем ссылку сразу - если задан токен, выводим только ссылку на переход
    //if token 
      .recoverLink
        a(href="/recover/"+token) Перейти на страницу восстановления
    // когда послали письмо
    if sent 
      .sentLetter= msg
    else
      form(action="/recover" method='POST')
        div Восстановление пароля:
            input(type="email", name="email", value="Введите email")
        div 
            button(type="submit") Восстановить
      .info= msg
    if time
      .time= time
      