body {
    font-family: Arial;
    font-size: 10pt;
    margin: 25px;
}
.info {
    color: grey
}
form div {
    margin: 10px;
}

.time {
    border: 1px solid lightpink;
    border-radius: 5px;
    padding: 5px;
}