<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Ввод нового пароля
        style
            include main.css
    body
        form(action="/confirm", method="post")
            div Введите новый пароль:
                input(type="text", name="password")
            div Повторите ввод пароля:
                input(type="text", name="passwordConfirm")
            div
                button(type="submit") Отправить
            input(type="hidden", name="token" value=token)